[mysqld]
default-time-zone=UTC
character-set-server=utf8
sql_mode=""
explicit_defaults_for_timestamp=1
local_infile=on

[client]
default-character-set=utf8
user=root
password=password
host=127.0.0.1
port=3306
